.container-card {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;

  .card-title {
    font-weight: bold;
    font-size: 16px;
    color: #8e210b;
    }
  .card-image{
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;

  }
  .card-text{
    text-align: justify;
  }

  .div-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a.btn.btn-primary {
    background-color: #8e210b;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
  }

}
